<li class="navigation-header">
    <span>Principal</span>
    <i class="icon-menu" title="Principal"></i>
</li>
<li>
    <a href="@Url.Action("Index", "Home")">
        <i class="icon-home4"></i>
        <span>Home</span>
    </a>
</li>
<li>
    <a href="@Url.Action("Operadora", "Home")">
        <i class="icon-city"></i>
        <span>Operadoras</span>
    </a>
</li>
<li>
    <a href="@Url.Action("Produto", "Home")">
        <i class="icon-cube4"></i>
        <span>Produtos</span>
    </a>
</li>
<li>
    <a href="@Url.Action("Plano", "Home")">
        <i class="icon-package"></i>
        <span>Planos</span>
    </a>
</li>
