<div class="sidebar sidebar-main">
    <div class="sidebar-content">
        @Html.Partial("Sidebar/_SidebarEmpresa")

        <!-- Navegação -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">
                    @Html.Partial("Sidebar/_ConteudoPrincipal")
                </ul>
            </div>
        </div>
        <!-- /Navegação -->
    </div>
</div>